# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/local.properties

# iOS
ios/Pods/

# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# IDE
.vscode/
.idea/

# macOS
.DS_Store
